include:
  - template: Terraform/Base.latest.gitlab-ci.yml

# variables:
#   TF_STATE_NAME: dev

stages:
  - validate
  - test
  - build
  - deploy
  - cleanup

before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle

assemble:
  image: gradle:alpine
  stage: build
  script:
    - gradle --build-cache assemble
    - echo "TF_VAR_BUILD_FILENAME=$(gradle -q builtArchive)" >> build.env
  cache:
    key: "$CI_COMMIT_REF_NAME"
    policy: push
    paths:
      - build
      - .gradle
  artifacts:
    reports:
      dotenv: build.env
    paths:
      - build/libs/*.jar

gradle-test:
  image: gradle:alpine
  stage: test
  script: gradle check
  cache:
    key: "$CI_COMMIT_REF_NAME"
    policy: pull
    paths:
      - build
      - .gradle

terraform-plan:
  extends: .terraform:build
  needs: ["assemble"]
  artifacts:
    reports:
      dotenv: build.env
    paths:
      - build/libs/*.jar
      - ${TF_ROOT}/plan.cache

terraform-apply:
  extends: .terraform:deploy
  needs: ["terraform-plan", "assemble"]
  rules:
    - when: on_success
  artifacts:
    paths:
      - terraform.tfstate
  allow_failure: true

destroy:
  extends: .terraform:destroy
  dependencies:
    - terraform-apply
    - assemble
  rules:
    - when: manual
